<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>./</string>
	<key>BuildMachineOSBuild</key>
	<string>18C54</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icons-bundle</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Myteam</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Myteam</string>
	<key>CFBundleIconFile</key>
	<string>icons-bundle</string>
	<key>CFBundleIdentifier</key>
	<string>ru.mail.messenger-biz-avocado-desktop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Myteam</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0000</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icons-bundle</string>
			<key>CFBundleURLName</key>
			<string>icq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myteam-messenger</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1234</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>We need to access to be able to send automation events to this application.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need to access to your camera so that you can make video calls.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>We need to access in your Desktop folder so that you can download/upload files.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need to access in your Documents folder so that you can download/upload files.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>We need to access in your Downloads folder so that you can download/upload files.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Mail.ru. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need to access to your microphone so that you can make calls and record voice messages.</string>
	<key>NSPrincipalClass</key>
	<string>IMOSXApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>HolMjZAxnC1J9hv9hrUfR3aiJtRPPuMzGXeay+NraNc=</string>
	<key>SUShowReleaseNotes</key>
	<false/>
</dict>
</plist>
