QPushButton[Full_view="false"]
{
    left: 0;
    margin-top:  4dip;
    margin-left: 0dip;
    min-width:  8dip;
    max-width:  8dip;
    min-height: 8dip;
    max-height: 8dip;
    border: 0;
    border-image: url(:/controls/arrow_green_up_100);
}


QPushButton[Full_view="true"]
{
    left: 0;
    margin-top:  4dip;
    margin-left: 0dip;
    min-width:  8dip;
    max-width:  8dip;
    min-height: 8dip;
    max-height: 8dip;
    border: 0;
    border-image: url(:/controls/arrow_green_100);
}